.goods {
  padding: 150px 0 148px;
  background-color: $bg-ligth;

  @media (max-width: $tablet-width) {
    padding: 50px 0 20px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 12px;
  }
}

.goods__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.goods h2 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 41px;
  }
}

.goods__list {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  margin: 0;
  padding: 0 12px;
  list-style: none;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0 13px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.goods__item {
  position: relative;

  &--road {
    margin-top: 10px;
  }

  &--mountain {
    margin-top: 39px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 51px;
    margin-top: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 45px;
  }
}
