.goods {
  padding-top: 150px;
  padding-bottom: 146px;
  background-color: $bg-ligth;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 50px;
  }
}

.goods__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 17px;
  padding-right: 17px;
}

.goods__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 41px;
  }
}

.goods__list {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  margin: 0;
  padding: 0 20px;
  list-style: none;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 630px;
    margin: 0 auto;
    justify-content: center;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}

.goods__item {
  position: relative;

  &:nth-child(1) {
    margin-top: 10px;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 166px;
      left: -60px;
      width: 180px;
      height: 180px;
      border: 27px solid $accent;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &:nth-child(2) {
    margin-top: 39px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 47px;
      height: 47px;
      border: 8px solid $accent;
    }

    &::before {
      top: -18px;
      left: -19px;
    }

    &::after {
      bottom: 33px;
      right: -23px;
    }
  }

  &:nth-child(3) {
    &::before {
      content: '';
      position: absolute;
      top: -32px;
      right: -36px;
      width: 95px;
      height: 95px;
      border: 17px solid $accent;
      border-radius: 50%;
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;

    &:nth-child(1) {
      margin-top: 0;

      &::before {
        top: auto;
        left: -37px;
        bottom: 26px;
        border-width: 18px;
        width: 127px;
        height: 127px;
      }
    }

    &:nth-child(2) {
      margin-top: 0;
      margin-right: 0;

      &::before,
      &::after {
        display: none;
      }
    }

    &:nth-child(3) {
      &::before {
        top: -20px;
        right: -25px;
        border-width: 13px;
        width: 68px;
        height: 68px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;

    &:nth-child(1) {
      &::before {
        left: -24px;
        bottom: 28px;
      }
    }

    &:nth-child(3) {
      &::before {
        right: -15px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
