.hero {
  background-color: $bg-dark;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 2dppx) {
    background-image: url("../img/hero@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: none;
    background-color: $white;
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 318px;
  padding-bottom: 219px;
  max-width: 880px;
  margin: 0 auto;
  color: $white;

  @media (max-width: $tablet-width) {
    max-width: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.hero__content {
  max-width: 393px;

  @media (max-width: $tablet-width) {
    max-width: none;
    width: 100%;
    padding-top: 138px;
    padding-right: 21px;
    padding-bottom: 76px;
    padding-left: 21px;
    background-color: $bg-dark;
    background-image: url("../img/hero-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 120px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 70px;
  }
}

.hero__logo {
  display: block;
  margin-bottom: 28px;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 25px;
  }
}

.hero h1 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 46px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
}

.hero p {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: rgba($white, 0.8);

  @media (max-width: $tablet-width) {
    max-width: 435px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }
}

.hero__form {
  max-width: 327px;
  margin-left: auto;
  padding-top: 4px;

  @media (max-width: $tablet-width) {
    max-width: 321px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media (max-width: $mobile-width) {
    max-width: none;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.hero__form p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 18px;
    color: $black;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}
