.page-footer {
  max-width: 1166px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 74px;

  @media (max-width: $tablet-width) {
    padding-top: 18px;
    padding-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
