.page-header {
  position: absolute;
  width: 100%;
  padding-top: 21px;
  z-index: 1;

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }

  &--nojs {
    position: static;

    & .page-header__toggle {
      display: none;
    }
  }
}

.page-header__nav {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
}

.page-header__toggle {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: $accent;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
  }

  &--opened {
    background-color: $white;
  }
}

.page-header__toggle-close {
  display: none;
}

.page-header__toggle--opened .page-header__toggle-close {
  display: block;
}

.page-header__toggle--opened .page-header__toggle-menu {
  display: none;
}
