.page-header {
  position: absolute;
  width: 100%;
  padding-top: 21px;
}

.page-header__wrapper {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
}

.page-header__toggle {
  display: none;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: $accent;
  background-image: url('../../img/menu-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: block;
  }
}
