.page-header {
  position: absolute;
  width: 100%;
  padding-top: 21px;

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }

  &--nojs {
    position: static;

    & .page-header__toggle {
      display: none;
    }
  }
}

.page-header__nav {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
}

.page-header__toggle {
  display: none;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: $accent;
  background-image: url('../../img/menu-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: block;
  }

  &--opened {
    background-color: $white;
    background-image: url('../../img/close-icon.svg');
  }
}
