.page-footer {
  max-width: 1166px;
  margin: 0 auto;
  padding: 36px 0 74px;

  @media (max-width: $tablet-width) {
    padding: 18px 0 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 27px 16px 32px;
  }
}
