*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: grid;
  min-width: 320px;
  min-height: 100vh;
  grid-template-rows: 1fr min-content;
  font-family: "Open Sans", "Arial", sans-serif;
}
